= form_for @user_file, url: request.path do |f|
  - if @user_file.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user_file.errors.count, "error")} prohibited this user_file from being saved:"
      %ul
        - @user_file.errors.full_messages.each do |msg|
          %li= msg

  .field
    folder:
    = @folder.title
  .field
    = f.label :file
    = f.file_field :file, multiple: true
    %br
    = f.text_area :file_url, placeholder: 'or paste here link'
  .actions
    = f.submit 'Save'
