%h1 Listing user_files

%table
  %thead
    %tr
      %th Folder
      %th Extension
      %th File name
      %th
      %th
      %th

  %tbody
    - @folder.files.each do |user_file|
      - next unless user_file.persisted?
      %tr
        %td= user_file.folder.title
        %td= user_file.extension
        %td= user_file.file_name
        %td= link_to 'Show', user_file
        %td= link_to 'Edit', edit_user_file_path(user_file)
        %td= link_to 'Destroy', user_file, :method => :delete, :data => { :confirm => 'Are you sure?' }

